{{- /* Добавляет якорь-ссылку рядом с h2-h6 в контенте поста.
       Принимает на вход .Content и возвращает изменённую разметку. */ -}}
{{- $content := . -}}
{{- range $rid, $val := findRE "<h[2-6] id=\"[^\"]+\">.*?</h[2-6]>" $content -}}
  {{- $id := index (findRE "id=\"[^\"]+\"" $val 1) 0 | replaceRE "id=\"([^\"]+)\"" "$1" -}}
  {{- $link := printf "<a class=\"heading-anchor\" href=\"#%s\" aria-label=\"Ссылка на раздел\">#</a>" $id -}}
  {{- $with := replaceRE "(</h[2-6]>)" (printf "%s$1" $link) $val -}}
  {{- $content = replace $content $val $with -}}
{{- end -}}
{{- $content | safeHTML -}}
