{{- /* Мета поста: дата, время чтения, автор. */ -}}
{{- $dateFmt := site.Params.dateFormat | default "2 January 2006" -}}
<div class="post__meta">
  <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format $dateFmt }}</time>
  {{- if not .Lastmod.IsZero }}
    {{- if and (gt (sub .Lastmod.Unix .Date.Unix) 86400) (not (.Lastmod.Equal .Date)) }}
  · <span class="post__updated" title="Обновлено">обн. {{ .Lastmod.Format $dateFmt }}</span>
    {{- end }}
  {{- end }}
  {{- if site.Params.ShowReadingTime }}
  · <span class="post__reading-time">{{ .ReadingTime }} мин чтения</span>
  {{- end }}
  {{- with (.Params.author | default site.Params.author) }}
  · <span class="post__author">{{ . }}</span>
  {{- end }}
</div>
